* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  background-color: #f5f5f5;
}

.heading {
  text-align: center;
}

.seperator {
  margin: 3rem 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

button, input[type=file]::file-selector-button {
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

input[type=file]{
  cursor: pointer;
}

input, select, input[type="date"], textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.image-product {
    width: 189px;
    height: 221px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 3rem;
  
}


/* Footer Styling */
.footer {
  background-color: #f9f9f9;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
}

.footer-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.footer-column address {
  font-style: normal;
  color: #333;
  margin-top: 10px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.footer-menu,
.footer-social {
  list-style: none;
  padding: 0;
}

.footer-menu li,
.footer-social li {
  margin-bottom: 5px;
}

.footer-menu li a,
.footer-social li a {
  text-decoration: none;
  color: #333;
}

.footer-menu li a:hover,
.footer-social li a:hover {
  color: #555;
  text-decoration: underline;
}

/* Copyright */
.footer-column span {
  display: block;
  margin-top: 10px;
  color: #999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo img {
  width: 50px;
  height: 50px;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a {
  position: relative;
  padding-right: 2rem;
}

.nav-links a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #ccc;
}

.cart-btn {
  display: flex;
  gap: 5px;
  margin-right: 1rem;
}

.cart-icon {
  font-size: 18px;
}

.profile-icon img {
  width: 40px;
  height: 40px;
}
