.product-image {
	width: 550px;
	height: 464px;
	background: #00000000;
	border-color: #AAAAAA;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
}

.button-secondary {
    width: 194px;
    height: 55px;
    padding: 0px 10px 0px 10px;
    background: #FFFFFF;
    color: #000000;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.button-primary{
	width: 194px;
	height: 55px;
	padding: 0px 10px 0px 10px;
	background: #444444;
	color: #FFFFFF;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}

.product-shop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.product-infos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.preis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}