<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/shop.css">
</head>

<body>

    <div class="shop-container">
        <div class="filter-button-container">
            <button class="filter-button">Nuss-Mix</button>
            <button class="filter-button">Probierpaket</button>
            <button class="filter-button">Gesalzen</button>
            <button class="filter-button">Süß</button>
            <button class="filter-button">Weihnachtlich</button>
            <button class="filter-button">Schokolade</button>
        </div>


        <div class="heading">
            <h2>Ergebnisse</h2>
        </div>
        
        <section class="products-list" >
            <a href="../product/product.html" class="product" th:each="product : ${products}">
                <img th:src="${product.image}" class="image-product" alt="...">
                <div>
                    <h5 th:text="${product.name}">Nuts</h5>
                    <p th:text="${product.price}">20 €</p>
                </div>
            </a>
        </section>
    </div>
</body>

</html>