.favorites-container {
    background: #ffffff;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.product p {
    margin-bottom: 5px;
}

.element-group {
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: inherit;
}

a.element-group {
    width: 75%;
}

.product-image {
    width: 80px;
    height: 80px;
}

.product-name {
    font-weight: bold;
}